 body {
    background-color:#f0f2f5;
    font-family:Arial, sans-serif;
    text-align: center;
    padding: 50px;
 }
 
 h1 {
    color: #1a73e8;
    font-size: 2.5em;
}
 p {
    color: #333;
 }
    
a {
    background-color: #25D366;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 25px;
    font-weight:bold;
    display: inline-block;
    margin-top: 20px;
}
 a:hover {
    background-color: #128C7E;
 }

 .dark-mode {
    background:#000000 !important; color:#eee !important; 
 }
 .dark-mode h1 {
    color: #ff8c42 !important;
 }
 body.dark-mode {
  background: #121212;
  color: white;
}
body.dark-mode p,
body.dark-mode h1,
body.dark-mode b {
  color: white !important;
}
#typed-text {
  color: #0a7d33;
  font-size: 20px;
  font-weight: bold;
}

#main-intro {
  color: black;
}
body.dark-mode #main-intro {
  color: white;
}

/* Mobile Responsiveness - Day 2 */
@media (max-width: 600px) {
  header {
    flex-direction: column;
    gap: 10px;
  }
  h1 {
    font-size: 1.8rem;
  }
  main {
    margin: 20px auto;
    padding: 0 10px;
  }
  .links a {
    display: block;
    margin: 10px 0;
  }
}
  .toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 32px;
}

.toggle input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc; /* light mode color */
  border-radius: 30px;
  transition: 0.4s;
}

.slider::before {
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background: white;
  border-radius: 50%;
  transition: 0.4s;
}

/* This na the colorful part when e don turn ON (dark mode) */
.toggle input:checked + .slider {
  background: linear-gradient(45deg, #ff00cc, #3333ff, #00ffcc);
}

.toggle input:checked + .slider::before {
  transform: translateX(28px);
}